body{
    margin: 0;
    background-image: url("ABC.webp");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
    
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(50px);

}
